<!DOCTYPE html>
<html lang ="en">
<head>
    <title>Projet Web</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css"/>

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/prettyPhoto.css"/>
    <script type="text/javascript" src="js/modernizr.custom.js"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<div id="preloader">
    <div id="status"> <img src="img/preloader.gif" height="64" width="64" alt=""/> </div>
</div>
<!-- Navigation -->
<div th:replace="header :: copy"></div>
<div id="intro" class="clearfix">
    <div class="container">
        <div class="section-title center">

            <hr/>

        </div>
        <div id="row">

            <div class="col-xs-6 col-md-3 col-sm-6 text-center">
                <div class="thumbnail"> <img src="img/team/user.jpg" alt="..." class="img-thumbnail team-img"/>
                    <div class="caption">
                        <h3 th:text="|${session.user.first_name} ${session.user.last_name}|">Manoa Razafimahenina</h3>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-1 text-left">
                <div class="thumbnail">
                    <div class="col-md-offset-1">
                        <h3>Prénom :  <em th:text="${session.user.first_name}">Manoa</em></h3>
                        <h3>Nom :  <em th:text="${session.user.last_name}">Razafimahenina</em></h3>
                        <h3>Identifiant :  <em th:text="${session.user.username}">Lehmann</em></h3>
                        <h3>email : <em th:text="${session.user.email}">lehmann@yahoo.fr</em> </h3>
                        <br/>
                        <hr/>
                        <h3><a href="list?type=1">Voir la liste des plats réalisés</a></h3>
                        <h3><a href="list?type=2">Voir la liste des plats aimés</a></h3>
                        <br/>
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p>Copyright &copy; Cooking Ideas.</p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="js/jquery.1.11.1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/SmoothScroll.js"></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/jquery.isotope.js"></script>
<script type="text/javascript" src="js/jquery.parallax.js"></script>
<script type="text/javascript" src="js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="js/contact_me.js"></script>

<!-- Javascripts
    ================================================== -->
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>